<section>
  <div>
    <p>
      <%= data.dealers.length %> dealers in
        <%= data.zipcode %>
    </p>
    <h4>Filter Results</h4>
    <ul>
      <li><label for="service"><input type="checkbox">Service</label></li>
      <li><label for="installation"><input type="checkbox">Installation</label></li>
      <li><label for="residential"><input type="checkbox">Residential</label></li>
      <li><label for="commercial"><input type="checkbox">Commercial</label></li>
      <button class="btn-tooltip">?</button>
      <div class="tooltip">Info about Commercial?</div>
    </ul>
  </div>
  <div>
    <% for (dealer in data.dealers) { %>
      <div class="card">
        <h3><%= data.dealers[dealer].data.name %></h3>
        <p>
          <%= data.dealers[dealer].data.phone1 %>
        </p>
        <p>Can't talk now? Click below to send an email.</p>
        <button>Contact this Pro</button>
        <h4>Business Hours</h4>
        <ul>
          <% for (day in data.dealers[dealer].data.weekHours) { %>
            <li>
              <%= day%>
                <%= data.dealers[dealer].data.weekHours[day]%>
            </li>
            <% } %>
        </ul>
        <div>
          <% for (let x = 0; x < data.dealers[dealer].data.certifications.length; x++) { %>
            <li>
              <%= data.dealers[dealer].data.certifications[x]%>
            </li>
            <% } %>
        </div>
      </div>
      <% } %>
  </div>
</section>
